.menu{
    display: flex;
    list-style-type: none;
    margin: 0;
    width:150px;
    justify-content: space-around;
}
.header{
    color: white;
    height:8vh;
    background-color: rgb(41, 40, 40);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
    color: white;
}
.page-home{
    text-align: center;
}
input[type="text"]{
    margin:1% 0 0 15%;
    width: 70%;
}
.title{
    text-align: center;
}
.section{
    font-weight: bold;
    display: flex;
    justify-content: space-around;
}
.result{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    padding-bottom: 10px;
}
.result>div:first-child,.result>div:nth-child(2){
    width:475px;
}
.result>div:last-child{
    width:100px;
}